.cardWrapper {
    @apply w-full flex items-center flex-wrap justify-center gap-x-4 gap-y-5 py-6;

    .card {
        @apply w-[390px] sm:w-[254px] min-h-[240px] bg-[#FBFBFB] rounded-md px-[18px] py-6 box-border;

        .menuWithIcon {
            @apply w-full flex justify-between;

            .withIcon {
                @apply flex items-start gap-x-[14px];

                .icon {
                    @apply w-[43px] h-[42px];

                    img {
                        @apply w-full h-full;
                    }
                }

                .name {
                    @apply flex flex-col;

                    label {
                        @apply text-[16px] leading-[19.36px] font-medium text-textColor;
                    }

                    span {
                        @apply text-[14px] leading-[16.94px] text-[#707070] mt-2;
                    }
                }
            }

            .editIcon {
                @apply relative;

                .editPopup {
                    @apply w-[100px] h-[60px] bg-white shadow-lg rounded absolute top-0 right-3 flex flex-col py-2 px-4;

                    span {
                        @apply cursor-pointer text-[12px] leading-[21.78px] text-textColor border-b border-[#D3D3D3];
                    }

                    p {
                        @apply cursor-pointer text-[12px] leading-[21.78px] text-red-500 pt-1;

                    }
                }
            }
        }

        .address {
            @apply gap-x-3 w-full min-h-[40px] flex text-[14px] leading-[16.94px] text-textColor;

            .left {
                @apply font-medium whitespace-nowrap;
            }

            .right {
                @apply font-normal text-[#707070];
                word-break: break-all;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                line-height: 1.5em;
                max-height: 3em;
            }
        }

        .planName {
            @apply my-2 gap-x-3 w-full flex text-[14px] leading-[16.94px] text-textColor;

            .left {
                @apply font-medium whitespace-nowrap;
            }

            .right {
                @apply font-normal text-[#707070];
                word-break: break-all;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                line-height: 1.5em;
                max-height: 3em;
            }
            .rightLabel {
                @apply font-normal text-center bg-[#FFF1EA] min-w-[93px] min-h-[23px] rounded-md text-primary;
                word-break: break-all;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                line-height: 1.5em;
                max-height: 3em;
            }

        }

        .view {
            @apply mt-4 w-full text-sm h-[40px] shadow-lg rounded-md flex justify-center items-center border border-primary text-primary hover:bg-primary hover:text-white;

        }
    }
}